[Desktop Entry]
Encoding=UTF-8
Name=Link to Bézier Curves and Surfaces: the Utah Teapot (Rendering Curves as Geometry: Hair Rendering)
Type=Link
URL=https://www.scratchapixel.com/lessons/advanced-rendering/bezier-curve-rendering-utah-teapot/curves-as-geometry
Icon=text-html
