[Desktop Entry]
Encoding=UTF-8
Name=Link to glLineWidth - OpenGL 4 Reference Pages
Type=Link
URL=https://www.khronos.org/registry/OpenGL-Refpages/gl4/html/glLineWidth.xhtml
Icon=application-xhtml+xml
