[Desktop Entry]
Encoding=UTF-8
Name=Link to How to draw thick and smooth 3D lines in OpenSceneGraph / OpenGL Victoria Rudakova
Type=Link
URL=https://vicrucann.github.io/tutorials/osg-shader-3dlines/
Icon=text-html
